.cabal-sandbox
cabal.sandbox.config
.stack-work
stack.yaml.lock
idx/
dist/
log/
doc/
*.swp
*.swo
*.swn
*.swm
*.o
*.hi
*.dyn_hi
*.dyn_o
test/test
doc/**/*.html
doc/**/*.css
doc/**/*.js
doc/**/*.png
doc/**/*.gif
mk/toplibs
README.html
